input#transaction-amount {
    width: 6.5em;
  }
  
  form.container {
    max-width: 45rem;
    background-color: dimgray;
  }
  
body {
    background-color:darkslategrey;
}

.btn {
  background-color: black;
}